html,body {
  margin:0;
  padding:0;
  overflow: hidden;
}
.container{
  width:95%;
  height:100%;
  margin: 0;
  padding: 0;

}
a {
  color: #00B7FF;
}
.topPanel{
  position:absolute;
  width: 100%;
  background-color: #F7F7F7;
  box-shadow: 1px 1px 5px #aaaaaa;
  height:10%;
  left:0;
}
.zoom{

}
/* Took out the buttons from the top panel.
// Can implement functions with the buttons in the future.
.topPanel > #button1{
  position:relative;
  top:20%;
  left:10%;
}
.topPanel > #button2{
  position:relative;
  top:20%;
  left:45%;
}
.topPanel > #button3{
  position:relative;
  top:20%;
  left:70%;
}

*/

.leftPanel{
  position:absolute;
  top:10.5%;
  width: 10%; /* 10 */
  height: 90%;
  background-color: white;
  left: 0;
  /*opacity: 0.1;*/
}
.splitLM{
  height: 90%;
  width: 0.0%;
  position:absolute;
  left: 10%;
  top: 10.5%;
  cursor: e-resize;
  box-shadow: 2px 2px 5px #aaaaaa
}
.mainPanel{
  background-color: #cbc9c9;
  position:absolute;
  left: 10.1%;
  top:  10.5%;
  width: 80%;
  height: 90%;
  opacity: 0.6;
  overflow: scroll;
}

.SearchBar-Container{
  position: absolute;
  left:3500px;
  top: 3200px;
  height:50%;
  width:50%;

}
.SearchBar-Container-Result{
  overflow: auto;
  width: 100%;
  height: 100%;
  background: white;
  outline-style: solid;
  outline-width: 1px;
}
.SearchBar-Container > input{
  height: 50%;
  width: 100%;
  fone-size:25px;
  border-radius: 50px 20px;

}
.rightPanel{
  position:absolute;
  top: 10.5%;
  left: 90%; /* 91.5 */
  width:10%;   /* 10 */
  background-color: white;
  height:90%;
  box-shadow: 2px 2px 5px #aaaaaa

}
#zoomIn{
  width:70px;
  height:70px;
}
#zoomOut{
  width:70px;
  height:70px;
}

.package{
  position: absolute;
  width:100%;
  height: 100%;
  border-color: black;
  background-color: #cbc9c9;
  z-index: 1;
}
.sub-package{
  position:relative;
  margin: 0.9% 0.5% 0.5% 1%; /* before all was at 0.5% */
  display: inline-block;
  width:23%;
  height:25%;
  /* background-color:#89CFF0; */
  box-shadow: 5px 5px 8px gray;
  text-align: center;
  font-weight: bold;
}



.sub-package{
  border: 3.5px solid black;
  background-color: white;
  color: black;
  cursor:pointer;
}

.shadow {
  -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
  filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
  /* Similar syntax to box-shadow */
}

/* For smoking this provides a background cover for starting page, previous picture was Smoking1.jpg */
#Smoking{
  background-image: url("images/Smoking-Icon.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
}

/* For CCM this provides a background cover for starting page, previous picture was CCM.jpg */
#CCM{
  background-image: url("images/CCM-Icon.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: black
}

/* For depression this provides a background cover for starting page, previous picture was Depression_Fading.jpg */
#PHQ9{
  background-image: url("images/Depression-Icon.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: black
}

/* For anxiety this provides a background cover for starting page, previous picture was GAD7.jpg */
#GAD7{
  background-image: url("images/Anxiety-Icon.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: black
}

/* For alcohol this provides a background cover for starting page, previous picture was Alcohol.jpg */
#AUDIT{
  background-image: url("images/Alcohol-Icon.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: black
}

/* For drugs this provides a background cover for starting page, previous picture was DAST10.jpg */
#DAST-10{
  background-image: url("images/Drugs-Icon.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: black
}

.answer_box_borderline:hover{
  /*stroke: darkblue;*/
  stroke: #0011FF;
  stroke-width: 3.5px;
  fill: #1E99D6;
}

.borderline:hover {
  border-color: #4a7ebe;
  color: #4a7ebe;
}
svg {
  cursor: default;
}